body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  height: 100px;
  margin: 0px;
  display: inline-block;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.searchbox{
  margin :10px;


}
table, td{
  border: 1px black solid;
  align-content: center;
}
.tablebox{
  width: 200px;
  margin: 10px;
  font-size: 13px;
}

.redfont{
  color:red;
}
.blackfont{
  color:black;
}


.square{
  color: black;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 0 0 0 0;
}

.displayboard{
  display: table;
  height: 50px;

}

.board{
  margin: 10px;
  float :left;
}

.stateGame{
  float: left;
  margin: 10px;
}

.head{
  font-size: 30px;
  background-color: #102143;
  color: white;
  padding: 10px;
  height: 50px;
}

.formlogin-container{

}
.container{
  padding: 8px;
}

button {
    background-color:#09b;
    color: wheat;
    padding: 10px;
    margin: 8px 0;
    border: none;
    align-content: center;
    cursor: pointer;
    width: 50%;
}
butoon:hover{
 opacity: 0.8px;
}

input[type=text] ,input[type=password],input[type=number]{
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 8px;
  display: inline-block;
}

.shiptable{
  font-size:12px;
  border: 1px solid black;
  margin: 5px;
  border-collapse: collapse;
}

th{
  color: white;
  background-color: #09b;
}

.react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    display: inline-block;
    padding: 5px;
    margin :5px;
    border: 1px solid black;
    background-color: white;
}

.active{
   color: #09b;
    background-color:#09b;

 
}

.container-list{
  height: 450px;
  overflow: scroll
}
.container-paginate {
  
}

.formsearch{
  display: inline-block;
}


.content{
  background: #EEE;
  width: 70%;
  height: 100%;
  position: absolute;
  left: 30%;
  padding: 10 10 10 10;

 
}
